.x {
  
  background-color: #f0f0f0;
  height: 700px;
  
  
}

.xy {
  color: #280574; 
  
  

}
.h1{
  color: #b51498;
}
.t{
  color: rgb(13, 51, 223);
}
.w{
  color: #280574;
}
.e{
  color: #b51498;
}
img{
  width: 600px;
  height: 500px;
}

